@CHARSET "UTF-8";
html,body{  
    height: 100%;  
    margin: 0;  
    padding: 0; 
    background-color: #FFFAF0; 
}
.main {
	box-sizing: border-box;
    min-height: 100%;	
    padding-bottom: 10px;
}

.head {
	background: #CAE1FF;
	height: 60px;
	line-height: 60px;
	margin-top: 0px;
}

.headLeft {
	float:left;
	margin-left: 120px;
	width: 200px;
	font-size: 24px;
}

.headRight {
	overflow: hidden;
	margin-right: 60px;
	text-align: right;
}

.body {
	height: auto;
}

.add {
	height:80px;
	line-height: 80px;
	width: 100%;
	text-align: center;
}

footer{  
    height: 30px;  
    margin-top: -30px;  
    color: #545454;  
    text-align: center;
    font-size: 14px;
} 

.link {
    text-decoration:none;
	color:#696969;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.delete {
    background-color: #EE7621;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
}

.update {
    background-color: #76EE00; /* red */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
}

.table {
	border-color:#CCCCCC;
	border-width:1px;
	border-style:solid;
	width:96%;
	border-collapse:collapse;
	MARGIN: 5px 0px;
}

.td {
	text-align: center;
	width: 25%;
}

.th {
	width: 25%;
}

small {
	margin-top:10px;
	margin-left: 2%;
	font-size: 12px;
}


