@CHARSET "UTF-8";
.head {
	background: #CAE1FF;
	height: 60px;
	line-height: 60px;
}

.headLeft {
	float:left;
	margin-left: 60px;
	width: 200px;
}

.headRight {
	overflow: hidden;
	margin-right: 60px;
	text-align: right;
}

.add {
	height:80px;
	line-height: 80px;
	width: 100%;
	text-align: center;
}

.footer {
	text-align: center;
	color: #696969;
	height: 60px;
	line-height: 60px;
}

.link {
    text-decoration:none;
	color:#696969;
}